.editor {
  display: flex;
  border: none;
  background: inherit;
  resize: none;
  min-height: 300px;
  max-width: 100%;
  margin-right: 20px;
  padding: 6px;
  line-height: 140%;
}

.line_numbers {
  padding: 6px;
  text-align: right;
  background-color: #f0f0f0;
  user-select: none;
  color: #999;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.line_numbers, .editor {
  font-size: 12px;
}