@import './reset.scss';

body {
  font-family: Montserrat, Arial, sans-serif;
  line-height: 140%;
}

.toast-container {
  position: fixed !important;
  top: 16px !important;
  right: 16px !important;
  z-index: 9999;
}

.app {
  max-width: 500px;
  margin: 0 auto;
}
