.themeContainer {
  display: flex;
  align-items: center;
  margin: 10px 10px 10px 0;
  background: inherit;
  color: #892be28c;

  select {
    color: #892be28c;
  }
}

.themeLabel {
  font-weight: 300;
  font-weight: 10;
  color: #892be28c;
  margin-right: 10px;
  background: inherit;
}

.themeSelect {
  border-radius: 4px;
  background-color: white;
  color: #333;
  cursor: pointer;
  border: 2px solid inherit;
  background: inherit;

  option {
    background-color: white;
    color: #333;
  }
}
