.container {
  background: green;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  textarea {
    padding: 15px 20px;
    margin: 20px;
  }

  button {
    margin: 20px;
  }

  .error {
    color: red;
    font-size: 14px;
    line-height: 140%;
  }
}